body{
margin:0;
font-family:Arial;
background:#0b0b0b;
color:white;
text-align:center;
}

header{
padding:50px 20px;
}

h1{
color:#ff0048;
}

button{
background:#ff0048;
color:white;
border:none;
padding:15px 25px;
border-radius:10px;
cursor:pointer;
}

.stats{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
padding:30px;
}

.card{
background:#1a1a1a;
padding:20px;
border-radius:15px;
width:150px;
}